@import 'fonts';

.ps__title {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate3d(0, -50%, 0);
}

.ps__heading {
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    font-family: 'Arca';
    letter-spacing: 0.4em;
    line-height: 1.5em;
}

.ps__trigger {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
