@import 'fonts';

.ps__title {
    display: block;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.ps__heading {
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    font-family: 'Arca';
    letter-spacing: 0.5em;
    line-height: 1.5em;

    .letter {
        position: relative;
        display: inline-block;
    }
}

.ps__trigger {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    &:hover {
        cursor: pointer;
    }
}
